@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== BASE STYLES ===== */
body {
  background: rgb(248, 247, 250);
  background: linear-gradient(
    90deg, 
    rgba(248, 247, 250, 1) 0%, 
    rgba(230, 230, 238, 1) 35%, 
    rgba(228, 240, 242, 1) 100%
  );
}

h3 {
  min-width: 300px;
  text-align: center;
}

#popup-tab-list {
    --new-tab-bg: rgb(209 213 219 / var(--tw-bg-opacity, 1));
}

#popup-tab-list > .tab:is(input:checked) {
    background-color: var(--new-tab-bg) !important;
}

#popup-tab-list > .tab:is(input:checked):before {
    --tab-bg: var(--new-tab-bg) !important;
}

#popup-tab-list > .tab {
    --tab-border-color: #000000 !important;
}