@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== BASE STYLES ===== */
body {
  background: rgb(248, 247, 250);
  background: linear-gradient(
    90deg, 
    rgba(248, 247, 250, 1) 0%, 
    rgba(230, 230, 238, 1) 35%, 
    rgba(228, 240, 242, 1) 100%
  );
}

h3 {
  min-width: 300px;
  text-align: center;
}

/* ===== TOGGLE SWITCHES ===== */
/* Base dot positioning */
input ~ .dot {
  transform: translateX(0%);
}

/* Half-checked state */
/* input.halfchecked ~ .dot {
  transform: translateX(180%) !important;
} */

/* Checked state */
input:checked ~ .dot {
  transform: translateX(100%);
}

input:checked ~ .dot2 {
  transform: translateX(100%);
}

.tab-content .w-8.h-3.bg-gray-400,
.isd-entry ~ .w-8.h-3.bg-gray-400 {
  @apply bg-gray-300; /* Default toggle state color */
}

.tab-content input:checked ~ .w-8.h-3.bg-gray-400,
.isd-entry:checked ~ .w-8.h-3.bg-gray-400 {
  @apply bg-green-400; /* Checked  toggle state color */
}

.tab-content input:checked ~ .dot,
.isd-entry:checked ~ .dot {
  @apply bg-green-600; /* Dot color when checked */
}

/* ===== TAB COMPONENT ===== */
/* Tab content - closed */
.tab-content {
  max-height: 0;
  transition: max-height 0.35s;
}

/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}

/* Tab labels */
.tab input + label {
  font-size: 18px;
  padding: 0.5rem;
}

/* Label formatting when open */
.tab input:checked + label {
  font-size: 18px;
  padding: 0.5rem;
  border-left-width: 2px;
  border-color: #6574cd;
  color: #6574cd;
}

/* Icon */
.tab label::after {
  float: right;
  right: 0;
  top: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  font-size: 1.25rem;
  text-align: center;
  transition: all 0.35s;
}

/* Icon formatting - closed */
.tab input[type=checkbox] + label::after {
  content: "+";
  font-weight: bold;
  border-width: 1px;
  border-radius: 9999px;
  border-color: #b8c2cc;
}

.tab input[type=radio] + label::after {
  content: "\25BE";
  font-weight: bold;
  border-width: 1px;
  border-radius: 9999px;
  border-color: #b8c2cc;
}

/* Icon formatting - open */
.tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
  background-color: #6574cd;
  color: #f8fafc;
}

.tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
  background-color: #6574cd;
  color: #f8fafc;
}
